<article>
  <div id="back-home">
    <a href="/" class="title is-6 has-text-primary"> &larr; Back Home</a>
  </div>
  <h2 class="title is-5 has-text-link">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input
        name="post-title"
        class="input is-link"
        type="text"
        value="{{post.title}}"
      />
    </div>
    <div>
      <input
        name="post-location"
        class="input is-link"
        type="text"
        value="{{post.location}}"
      />
    </div>
    <div>
      <input
        name="post-cost"
        class="input is-link"
        type="text"
        value="{{post.cost}}"
      />
    </div>
    <div>
      <input
        name="post-description"
        class="input is-link"
        type="text"
        value="{{post.description}}"
      />
    </div>
    <button class="button is-primary" type="submit">Save post</button>
    <button id="delete-post-btn" class="button is-danger" type="button">Delete
      post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>